h1{
    text-align: center;
}

h3{
    text-align: center;
    font-style: italic;
}

#pai{
    width: 500px;
    height: 990px;
    background:black;
    opacity: 0.8;
    transform: translate(80%,-1%);
    border-radius: 10px;
    color: white;
}
body{
    background: linear-gradient(45deg, cyan, yellow);
    width: 500px;
    height: 1000px;
}

header{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px auto;
}

hr{
    margin-top: 20px;
}

ul{
    list-style: none;
    border: 1px white solid;
    border-radius: 10px;
    width: 380px;
    margin: 0px auto;
    background: rgb(59, 59, 59);
}
    

li{
    margin: 10px;
}
section{
    margin-bottom: 50px;
}
#sobre{
    background:rgb(59, 59, 59) ;
    border: 1px white solid;
    width: 400px;
    margin: 0px auto;
    text-align: left;
    border-radius: 10px;
    padding: 5px;

}
#interesses{
    background:rgb(59, 59, 59) ;
    border: 1px white solid;
    width: 400px;
    margin: 0px auto;
    text-align: left;
    border-radius: 10px;
    padding: 5px;
}
#logo{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: top;
    margin: 0px auto;
   


}
.child{
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 50%;
    padding: 5px;
    border: 1px white solid;
    background-color: rgb(80, 79, 79);
}

footer{
    background:black;
    width: 500px;
    height: 100px;
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: row;
    margin: 0px auto;

}
#rede{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: 5px;
}